---
import TimelineItem from '@components/ui/TimelineItem.astro';
import { getCollection } from 'astro:content';

const career = await getCollection('career', ({ data }) => {
  return !data.inProgress;
});
---

<section
  data-testid="career"
  id="career"
  class="mb-10 flex flex-col items-center justify-center md:mb-0 md:h-screen"
>
  <div class="group flex w-fit flex-col items-center justify-center">
    <h2 class="text-center font-monospace text-2xl text-orange-600 lg:text-4xl">
      Work and educational history
    </h2>
    <span class="mb-6 ml-2 h-1 w-10 bg-orange-600 transition-all duration-300 group-hover:w-full"
    ></span>
  </div>
  <div class="mb-10 flex w-full flex-col flex-wrap items-center justify-center md:flex-row">
    <ul class="list-none p-5">
      {
        career.map(({ data: { title, subtitle, description, tags, startDate, endDate } }) => (
          <TimelineItem
            title={title}
            subtitle={subtitle}
            description={description}
            tags={tags}
            startDate={startDate}
            endDate={endDate}
          />
        ))
      }
    </ul>
  </div>
</section>
